[submodule "integrations/jarvis"]
	path = integrations/jarvis
	url = https://github.com/afidurko/Jarvis.git
[submodule "integrations/paddledetection"]
	path = integrations/paddledetection
	url = https://github.com/afidurko/PaddleDetection.git
	branch = release/2.9
[submodule "integrations/llmavatartalk"]
	path = integrations/llmavatartalk
	url = https://github.com/afidurko/LLMAvatarTalk-An-Interactive-AI-Assistant.git
