[submodule "integrations/jarvis"]
	path = integrations/jarvis
	url = https://github.com/afidurko/Jarvis.git
[submodule "integrations/paddledetection"]
	path = integrations/paddledetection
	url = https://github.com/afidurko/PaddleDetection.git
	branch = release/2.9
[submodule "integrations/llmavatartalk"]
	path = integrations/llmavatartalk
	url = https://github.com/afidurko/LLMAvatarTalk-An-Interactive-AI-Assistant.git
[submodule "integrations/smart-second-brain"]
	path = integrations/smart-second-brain
	url = https://github.com/afidurko/smart-second-brain.git
[submodule "integrations/swiftguide"]
	path = integrations/swiftguide
	url = https://github.com/afidurko/SwiftGuide.git
[submodule "integrations/cline"]
	path = integrations/cline
	url = https://github.com/afidurko/cline.git
[submodule "integrations/sgr-agent-core"]
	path = integrations/sgr-agent-core
	url = https://github.com/afidurko/sgr-agent-core.git
